.smallChart {
    position: absolute;
    top: 23px;
    left: 71.2%;
    /* background-color: aquamarine; */
    height: 34.8%;
    width: 28.3%;
    border-style: solid;
    border: 0.1%;
    border-color: #646464;
}

.area,
.area2 {
    fill: #88e29e;
    fill-opacity: 0.5;
    stroke: #B2DF8A;
}
.nodeA {
    fill: #3c1883;
    fill-opacity: 0.5;
    stroke: white;
    stroke-opacity: 0.8;
}
.linkA {
    stroke-width: 2px;
    stroke: #82c4c0;
}