/* .smallChart {
    position: absolute;
    top: 23px;
    left: 71.2%;
    height: 34.8%;
    width: 28.3%;
    border-style: solid;
    border: 0.1%;
    border-color: #646464;
} */

.smallChart {
    position: absolute;
    top: 58%;
    left: 47.8%;
    height: 41.3%;
    width: 29.5%;
    border-style: solid;
    border: 0.1%;
    border-color: #646464;
}

.area,
.area2 {
    fill: #E2C3C9;
    fill-opacity: 0.5;
    stroke: #E2C3C9;
}
.nodeA {
    fill: #608595;
    fill-opacity: 0.5;
    stroke: white;
    stroke-opacity: 0.8;
}
.linkA {
    stroke-width: 2px;
    stroke: #82c4c0;
}