#matrixChart {
    position: absolute;
    top: 62%;
    left: 77.5%;
    /* background-color: aquamarine; */
    height: 37.3% !important ;
    width: 22% !important;
    border-style: solid;
    border: 0.1%;
    border-color: #646464;
}

#matrixChartGraph {
    position: absolute;
    /* top: 36.8%; */
    /* left: 71.2%; */
    /* background-color: aquamarine; */
    height: 99% !important;
    width: 99% !important;
    /* border-style: solid; */
    /* border: 0.1%; */
    /* border-color: #646464; */
}