.mainLayout{
    position: absolute;
    top: 58%;
    left: 18%;
    /* background-color: aquamarine; */
    height: 41.3%;
    width: 29.6%;
    border-style: solid;
    border: 0.1%;
    border-color: #646464;
}
.playButton{
    position: absolute;
    top: 91.8%;
    width: 30px !important;
    height: 40px;
    /* background-color: blue; */
}